.master-container{
  background: #4BDCD6;
  background: linear-gradient(to bottom right, #4BDCD6, #F9FEC8);
  min-height: 100vh;
}

.component-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.login-master{
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: 100vh;
}

.login-container{
  display: flex;
  text-align: center;
  justify-content: center; 
  align-items: center; 
  width: 500px;
  height: 500px;
  color: #fff;
  background-color: cornflowerblue;
  border-radius: 10%;
  box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
}

.gig-card{
  width: 400px;
  height: 100px;
  border-style: solid;
  margin: 20px;
  text-align: center;
  color: #fff;
  background: #333;
  box-shadow: 5px 4px 14px 0px rgba(0,0,0,0.75);
  border-radius: 20px;

}

.header{
  text-align: center;
  height: 80px;
  width: 100%;
  position: fixed;        
  background: #333;
  color: #fff;
}

.dash-button-bar{
  width: 100%;
  padding-top: 10px;
  text-align: center;
  height: 140px;
  background-color: cornflowerblue;
  box-shadow: 5px 4px 14px 0px rgba(0,0,0,0.75);

}

.dash-buttons{
  margin: 10px;
  margin-top: 85px;
  padding: 10px;
  box-shadow: 5px 4px 14px 0px rgba(0,0,0,0.75);
  background: transparent;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  border-radius: 20px;
}

.dash-buttons:hover{
  border-color: greenyellow;
  transition: .3s;
  background-color: #333;
  ;
}

.form-container{
  border-style: solid;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  background-color: cornflowerblue;
  box-shadow: 10px 10px 44px 0px rgba(0,0,0,0.75);
}

.form-item{
  margin: 10px;
  padding: 10px;
}

.form-submit-button{
  padding: 10px;
}